<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Application</title>
    <script src="https://cdn.jsdelivr.net/npm/underscore@1.12.0/underscore-min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Varela+Round|Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900%7COpen+Sans:400" rel="stylesheet">

    {% block stylesheet %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

</head>
<body
        id='{{ jsResponse.impulse.page.uid }}'
        data-impulse-base-url='{{ url("_impulse_index") }}'
        data-impulse-response='{{ jsResponse|json_encode|raw }}'
>

</body>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</html>
